:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
.main-btn{
    background-color: var(--red-color);
    color: #ffc400;
    padding: 0.5rem 1rem;
}
.main-btn:hover{
    background-color: var(--green-color);
}
.main-title::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
}
/*start navbar*/
.navbar{
    background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green-color);
}
.navbar .search {
    border-left: 2px solid var(--green-color);
}
.navbar .search svg {
    color: var(--green-color);
}
.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
/*end navbar*/
/*start landing*/
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/*end landing*/
/*start featrues*/
.featrues .icon-title{
    height: 200px;
}
.featrues .icon-title svg {
    left: 50%;
    transform: translateX(-50%);
}
.featrues .icon-title .number{
    font-size: 12rem;
    color: var(--section-color);
}
.featrues .icon-title .icon{
    color: var(--green-color);
}
.featrues .feat h4 {
    color: var(--yellow-color);
}
/*end featrues*/

/*star dabble-wok */
.our-work {
    background-color: var(--section-color);
  }
  .our-work ul .active {
    background-color: var(--red-color);
    color: var(--yellow-color);
  }
  .our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .our-work ul li:not(.active):hover {
    color: var(--red-color);
  }
  .our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
  }
  .our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
  }
  .our-work .box:hover::before {
    transform: translateX(0);
  }
  /*end dabble-wok*/
  /*start about*/
.about .lorem{
    max-width: 500px;
}
/*end about*/
/*start team*/
.team{
    background-color: var(--section-color);
   margin-top: 55px;
}
.team h2 {
    color: var(--yellow-color);
}
.team .box h4 {
    background-color: var(--green-color);
}
/*end team*/
/*start hero*/
.hero {
    background-color: var(--dark-color);
}
/*end hero*/

/*start subscribe*/
.subscribe{
    background-color: var(--yellow-color);
}
.subscribe input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus{
    outline: none;
}
.subscribe ::placeholder {
    color: white;
}
/*end subscribe*/
/*start footer*/
.footer{
    background-color: var(--dark-color);
}
.footer .contact ul svg {
width: 30px;
height: 30px;
}
.footer .facebook{
    color: #0000CD;
    
}
.footer .instagram {
    color: #ff1493;
}
.footer .whatsapp{
    color: #228B22;
}
/*end footer*/